body {
    line-height: 1;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

html {
    background: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

A.nu {
    text-decoration: none;
    color: black;
}

h1, h2, .nav-link {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
}

h1 {
    font-size: 36px;
}

h1, h2, h3, p {
    margin: 0 0 10px;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
}

p {
    line-height: 1.4;
}

a {
    color: #fff;
    font-style: italic;
}

table {
    margin: 0 auto;
    width: 100%;
}

table.tableSmallerFont {
    font-size: 12px;
}

th {
    font-weight: bolder;
}

td {
}

th.detailTh {
    text-align: center;
}

td.detailTd {
    text-align: center;
}

td.detailLeftTd {
    text-align: left;
    vertical-align: top;
    font-weight: bolder;
}

td.detailRightTd {
    text-align: right;
    vertical-align: top;

}

.box {
    background: #444;
    background: rgba(0, 0, 0, .6);
    padding: 10px 0px 10px 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    display: inline-block;
}

.main {
    position: relative;
    -webkit-transition-duration: 0.6s;
    -moz-transition-duration: 0.6s;
    -ms-transition-duration: 0.6s;
    -o-transition-duration: 0.6s;
    transition-duration: 0.6s;
}


#container {
    width: 1000px;
    margin:10px auto;
}

#header {
    width: inherit;
    text-align: center;
}

#topmenu {
    width: inherit;
    text-align:center;
}

#footer {
    width: inherit;
    text-align:center;
}

#homeContainer {
    float: inherit;
    width: inherit;
}

#innercontentFixedSize {
    position: relative;
    padding: 5px;
}

.charts {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

.centeredHighlightedValue {
    width: 120px;
    height: 120px;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    font-size: 24px;
    font-weight: bolder;
}

.tableForOther {
    padding-top: 15px;
}


.liveDetailValues {
    width: 350px;
    height: 120px;
    border: 1px;
    margin-left: auto;
    margin-right: auto;
    display: table-cell;
    padding-left: 15px;
    padding-right: 15px
}

.liveOtherItem {
    width: 200px;
    height: 62px;
    text-align: center;
}

.overviewChart {
    width: 485px;
    height: 250px;
    margin: 0 auto;
}

.overviewLive {
    width: 485px;
    height: 150px;
    float: left;
    padding-bottom: 40px;
    padding-right: 10px;
}

.overviewFieldset {
    height: 100%;
    color: #ffffff;
    border-radius: 5px;
}



.nav-link {
    display: inline-block;
    text-decoration: underline;
    font-style: normal;
    margin-left: 10px;
    padding: 5px 10px;
    color: #fff;
    background: transparent;
    border-radius: 5px;
}

.blink {
    animation-duration: 1s;
    animation-name: blink;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    font-size: 14px; color: GREEN; font-weight: bolder;
}

.blinklivefont {
    font-size: 12px;
}

@keyframes blink {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.timeClass {
    font-size: 10px;
    font-weight: bolder;
    display: inline-block;
    vertical-align: middle;
    padding: 0 0 4px 5px;
}

.tableHeading {
    font-weight: bolder
}

#innercontentFooter {
    vertical-align: middle;
    text-align: center;
    color: #ffffff;
}

.backgroundDiv {
    overflow: auto;
    background-size: cover;
}

